@font-face {
  font-family: 'Poppins';
  src: url('./fonts/Poppins-Thin.ttf');
}

* {
  font-family: Poppins, 'monospace';
}

body{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  background: linear-gradient(to right, #02aab0, #00cdac);
}